@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-5">Welcome</h1>
    <p>Learn about building Web apps with <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>
